#!/usr/bin/env sh

# If this file is sourced by the current shell it, will check if a local python and
# ansible environment is prepared. If not, it will prepare this once, otherwise it just
# activates this python environment

# this needs the following software packages installed
#  * virtualenv
#  * pyenv
#  * pyenv-virtualenv

# if additionally "direnv" is installed and properly integrated into the shell
# it will source this file on entering this directory.

# Q: this will work in bash and zsh.
#    as direnv also support fish and elvish, will this file work with those shells, too?

# check if python version is set in current dir
_PYTHON=python3

# shellcheck disable=SC3028,SC3054
scriptDir="$( dirname "$( readlink -f "${BASH_SOURCE[0]}" )" )"
venvDir="${scriptDir}/.venv"

# Setup in a local .venv the python and ansible environment
if [ -r pyproject.toml ]; then
    if [ ! -d "${venvDir}" ] ; then
        echo "direnv: Creating virtualenv in ${venvDir} with $( ${_PYTHON} -V )"
        virtualenv "${venvDir}" -p ${_PYTHON}
        # shellcheck disable=SC1091
        . "${venvDir}/bin/activate"
        "${venvDir}/bin/pip" install --upgrade pip poetry

        "${venvDir}/bin/poetry" install --no-interaction --no-ansi --no-root # --without dev

        if [ -f "${venvDir}/bin/pre-commit" ]; then
            if [ -f ".pre-commit-config.yaml" ]; then
                echo "direnv: Ensuring pre-commit hooks"
                "${venvDir}/bin/pre-commit" install --allow-missing-config
            fi
        fi
    fi
fi

if [ -r "${venvDir}/bin/activate" ]; then
    # shellcheck disable=SC1091
    . "${venvDir}/bin/activate"
    echo "direnv: Activated $( ${_PYTHON} -V ) virtualenv in ${venvDir}"
fi

# add local bin directory to $PATH if existent
if [ -d "${scriptDir}/bin" ]; then
    PATH="${PATH}:${scriptDir}/bin"
fi

# fix MacOS Ansible problem https://github.com/ansible/ansible/issues/76322
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# disable warnings about direnv not able to set PS1
# see: https://github.com/direnv/direnv/wiki/PS1
unset PS1
